.Post__parent {
  width: 100%;
  min-height: 150px;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 20px;
  box-sizing: border-box;
  position: relative;
}

.Post__master-controls {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
}

.Post__master-menu {
  display: none;
  position: absolute;
  width: 100px;
  right: -105px;
  background-color: #FFF;
  flex-direction: column;
  padding: 10px 10px 0px 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14);
}

.Post__master-menu span {
  margin-bottom: 10px;
  user-select: none;
}

.Post__master-menu span:hover {
  color: #2aabe2;
}

.Post__meta-data {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.Post__profile-picture {
  border: 1px solid #2aabe2;
  display: flex;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.Post__name {
  font-weight: 600;
  font-size: 20px;
  margin-right: 5px;
}

.Post__handle {
  font-size: 13px;
  margin-right: 5px;
}

.Post__date {
  font-size: 13px;
}

.Post__content {
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  padding: 10px;
}

.Post__user-controls {
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 20px;
}

.Post__control-icon {
  margin-right: 10px;
  cursor: pointer;
}