.App__parent {
  width: 100%;
  min-width: 1000px;
  min-height: 100vh;
}

.App__content {
  width: 1000px;
  margin: 0 auto;
  min-height: calc( 100vh - 50px );
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
}